<div class="main-field-wrapper">
  <div class="cells">
    <div class="cell-item" data-col="0" data-row="0"></div>
    <div class="cell-item" data-col="0" data-row="1"></div>
    <div class="cell-item" data-col="0" data-row="2"></div>
    <div class="cell-item" data-col="0" data-row="3"></div>
    <div class="cell-item" data-col="0" data-row="4"></div>
    <div class="cell-item" data-col="1" data-row="0"></div>
    <div class="cell-item" data-col="1" data-row="1"></div>
    <div class="cell-item" data-col="1" data-row="2"></div>
    <div class="cell-item" data-col="1" data-row="3"></div>
    <div class="cell-item" data-col="1" data-row="4"></div>
    <div class="cell-item" data-col="2" data-row="0"></div>
    <div class="cell-item" data-col="2" data-row="1"></div>
    <div class="cell-item" data-col="2" data-row="2"></div>
    <div class="cell-item" data-col="2" data-row="3"></div>
    <div class="cell-item" data-col="2" data-row="4"></div>
    <div class="cell-item" data-col="3" data-row="0"></div>
    <div class="cell-item" data-col="3" data-row="1"></div>
    <div class="cell-item" data-col="3" data-row="2"></div>
    <div class="cell-item" data-col="3" data-row="3"></div>
    <div class="cell-item" data-col="3" data-row="4"></div>
    <div class="cell-item" data-col="4" data-row="0"></div>
    <div class="cell-item" data-col="4" data-row="1"></div>
    <div class="cell-item" data-col="4" data-row="2"></div>
    <div class="cell-item" data-col="4" data-row="3"></div>
    <div class="cell-item" data-col="4" data-row="4"></div>



  </div>
</div>
