<div class="gandalf-part">
  <div class="controll-pannel">
    <div class="level">
      <p class="level-title">Current level:</p>
      <p class="level-value"></p>
    </div>

    <div class="clicks">
      <p class="clicks-title">Count of clicks you have:</p>
      <p class="clicks-value"></p>
    </div>

    <div class="goal">
      <p class="goal-title">Your Goal:</p>
      <p class="goal-value"></p>
    </div>

    <div class="score">
      <p class="score-title">Your Score:</p>
      <p class="score-value"></p>
    </div>



    <div class="start-game">
      <button class="startButton button">Start game</button>
    </div><div class="start-game">
    <button class="nextButton button">Next Level</button>
  </div>
  </div>
